<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">

</head>
<body>
<div id="user-info"></div>

<script id="user-info-template" type="text/x-handlebars-template">
    <div class="user-info__left">
        <p>SCORE: <span id="score"></span></p>
    </div>
    <div class="user-info__center">
    </div>
    <div class="user-info__right">
        <p>{{name}}</p>
        <img src="{{img}}" alt="">
    </div>
</script>

<div id="login-page" class="login page">
    <div class="page__container">
        <h1>Wellcome to the Music Guesser</h1>
        <p>If you want to play this game, you need to login with your Spotify account.</p>
        <a href="?login" class="button button--main">Login</a>
    </div>
</div>

<div id="main-menu" class="page">
    <div class="page__container">
        <div class="main-menu__options">
            <h1>Main menu</h1>
            <div class="options__container">
                <a href="#option-page" class="button">Start playing</a>
                <a href="#results" class="button">Results</a>
                <a href="#choose-playlist" class="button">Choose playlist</a>
            </div>
        </div>
        <div class="main-menu__user-info">
            <p>Choosen playlist</p>
            <h2 class="main-menu__playlist-name"></h2>
            <iframe class="main-menu__current-playlist" src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:37i9dQZF1DWWMOmoXKqHTD" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>

<div id="results" class="page">
    <div class="page__container">
        <h1>Results</h1>
        <div class="results__box"></div>
    </div>
</div>

<script id="results-template" type="text/x-handlebars-template">
    <table>
        {{#each results}}
        <tr>
            <td>{{this.user.name}}</td>
            {{#each this.songs}}
            <td>
                <p class="song__name">{{this.name}}</p>
                <div class="score">
                    <div class="score__value">
                        <p>Name</p>
                        <p>{{this.score.name}}</p>
                    </div>
                    <div class="score__value">
                        <p>Artist</p>
                        <p>{{this.score.artist}}</p>
                    </div>
                </div>
            </td>
            {{/each}}
        </tr>
        {{/each}}
        <tr></tr>
    </table>
</script>



<div id="option-page" class="page">
    <div class="page__container">
        <h1>Options</h1>
        <a href="#playing" class="button">Start playing</a>

    </div>
</div>

<div id="choose-playlist" class="page">
    <div class="page__container">
        <h1>Choose playlist</h1>
        <div>
            <div class="playlist-box"></div>
            <div class="playlist-preview">
                <h2>Choosen playlist</h2>
                <div class="playlist-preview-box"></div>
            </div>
        </div>
        <button id="choose-playlist__submit" class="button button--main">CHOOSE</button>
    </div>
</div>


<div class="logged">
    <div id="playing-song" class="page">
        <div class="page__container">
            <div class="info">
            </div>
            <h1>Guess the song</h1>
            <form action="" method="post">
                <label for="song-name">Song name</label>
                <input autofocus id="song-name" type="text" name="song-name" autocomplete="off">
                <label for="song-author">Song author</label>
                <input id="song-author" type="text" name="song-author" autocomplete="off">
                <button type="button" id="submit-song" class="button">Submit</button>
                <button type="button" class="button" id="next-song">Next song</button>
            </form>
            <button id="end-game-button" class="button">End game</button>
        </div>
    </div>
    <div id="target"></div>
</div>

<script id="song-info" type="text/x-handlebars-template">
    <div class="content">
        <h2>Currently playing</h2>
        <p>{{songName}}</p>
        <p>{{author}}</p>
    </div>
</script>

<div class="loading-screen page">
    <div class="page__container">
        <h1>Loading</h1>
        <div class="loader"></div>
    </div>
</div>


<div class="player-box">
</div>

<script id="song-info-template" type="text/x-handlebars-template">
    <div class="player-box__song-info">
        <img src="{{album.images.[0].url}}" alt="" class="player-box__song-img">
        <p class="player-box__song-name">{{name}}</p>
        <p class="player-box__song-author">
            {{#each artists}}
            <span>{{this.name}}</span>
            {{/each}}
        </p>
    </div>
    <div class="player-box__controls">
        <button class="previous-song">Previous song</button>
        <button class="play-pause">Play/Pause</button>
        <button class="next-song">Next song</button>
    </div>
</script>


<script id="playlist-preview-template" type="text/x-handlebars-template">
    <div class="playlist-preview">
        <p class="playlist-preview__name">{{name}}</p>
        <iframe class="playlist-preview__iframe" src="https://open.spotify.com/embed?uri=spotify:user:spotify:playlist:{{ID}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</script>



<div id="end-game" class="page">
    <div class="page__container">
        <div id="end-game__game-info"></div>
    </div>
</div>
<script id="end-game-template" type="text/x-handlebars-template">
    <div class="page__container">
        <h1>Game ended</h1>
        <h2>Your score is: {{score}}</h2>
        <button id="end-game-finish-button" class="button">Back to main page</button>
    </div>
</script>




<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="https://sdk.scdn.co/spotify-player.js"></script>
<script src="User.js"></script>
<script src="Song.js"></script>
<script src="Playlist.js"></script>
<script src="Cookies.js"></script>
<script src="Playlists.js"></script>
<script src="Player.js"></script>
<script src="Game.js"></script>
<script src="GameData.js"></script>
<script src="Controller.js"></script>
<script src="Results.js"></script>
<script src="script.js"></script>
<script>

    function getHashParams() {
        var hashParams = {};
        var e, r = /([^&;=]+)=?([^&;]*)/g,
            q = window.location.hash.substring(1);
        while ( e = r.exec(q)) {
            hashParams[e[1]] = decodeURIComponent(e[2]);
        }
        return hashParams;
    }

</script>
</body>
</html>