/**
 *  @author: tomasgerzicak
 *  @name: _base
 *  @version: 1.0
*/

.page
{
  background: linear-gradient(130deg, #FB8C2F, #DC3EF3 40%, #2805C7 120%);
  font-family: 'Lato';
  color: white;
  h1
  {
    font-weight: 900;
  }
}

.loading-screen
{
  position: fixed;
  top: 0;
  left: 0;
  background: @spotify-green;
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loader
{
  border: 12px solid #f3f3f3; /* Light grey */
  border-top: 12px solid black; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#main-menu
{
  .page__container
  {
    .main-menu__playlist-name
    {
      padding: 10px 0;
    }
    .options__container
    {
      .button
      {
        display: block;
        width: 100%;
        margin: 20px 0;
      }
    }
  }
}

#results
{
  td
  {
    padding: 5px 10px;
    min-width: 130px;
  }
  .song__name
  {
    border-bottom: 1px solid white;
    margin-bottom: 5px;
  }
  .score
  {
    display: flex;
    justify-content: space-between;
  }
  .score__value
  {
    padding-right: 10px;
  }
  .results__box
  {
    overflow-y: scroll;
  }
}

#login-page
{
  text-align: center;
  color: white;
  h1
  {
    font-size: 60px;
    padding-bottom: 20px;
    font-weight: 900;
  }
  p
  {
    padding-bottom: 10px;
  }
}

#choose-playlist
{
  .page__container
  {
    padding: 0;
    .playlist-box
    {
      height: 400px;
      overflow: scroll;
      .playlist
      {
        display: block;
        margin: 5px 0;
        width: 100%;
      }
    }
  }
}

.player-box
{
  display: none;
}

#user-info
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 100;
  >div
  {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .user-info__left
  {
    padding-left: 20px;
  }
  .user-info__right
  {
    justify-content: flex-end;
  }
  p
  {
    margin: 0;
  }
  img
  {
    height: 100%;
    padding-left: 20px;
  }
}


#playing-song
{
  text-align: center;
  .page__container
  {
    padding-bottom: 0;
  }
  form
  {
    input
    {
      width: 100%;
      padding: 10px 20px;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-radius: 10px;
      border: 0;
      border: 2px solid @spotify-green;
      color: white;
      background: transparent;
      transition: 300ms;
      &:focus
      {
        outline: none;
        border-color: white;
        background: rgba(255, 255, 255, 0.2);
      }
    }
    button
    {
      width: 100%;
    }
  }
}

#wellcome-screen
{
  height: 100vh;
  background: linear-gradient(-30deg, #82faff, #ff59dd);
  display: flex;
  justify-content: center;
  align-items: center;
  .content
  {
    color: white;
    text-align: center;
    h1
    {
      padding-bottom: 30px;
      font-size: 40px;
    }
    button
    {
      font-size: 17px;
      padding: 10px 70px;
    }
  }
}
