/**
 *  @author: tomasgerzicak
 *  @name: _components
 *  @version: 1.0
*/

/**
 *  @author: tomasgerzicak
 *  @name: _mixins
 *  @version: 1.0
*/


@spotify-green: #1DB954;
@spotify-green-hover: #1ed760;


// *****************************************
// ***************** PAGE ******************
// *****************************************

.page
{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  .page__container
  {
    padding-bottom: 22%;
    width: 70%;
  }
}


// *****************************************
// **************** BUTTON *****************
// *****************************************

.button
{
  padding: 7px 30px;
  display: inline-block;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  background: transparent;
  color: white;
  cursor: pointer;
  border: 2px solid @spotify-green;
  text-decoration: none;
  transition: color 50ms, background-color 200ms, transform 200ms;
  position: relative;
  overflow: hidden;
  letter-spacing: 1px;
  text-align: center;
  &:hover
  {
    .button--selected();
  }

}

.button--selected
{
  background: @spotify-green;;
  color: white;
}

.button--main
{
  background: @spotify-green;
  color: white;
  &:hover
  {
    transform: scale(1.1);
  }
}

.button--magic
{
  &:hover
  {
    color: white;
    &::before
    {
      visibility: visible;
      transform: scale(40);
    }
  }
  &::before
  {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    top: calc(50% - 2px);
    left: calc(50% - 2px);
    border-radius: 50%;
    transition: 200ms ease-out;
    background: @spotify-green;
    visibility: hidden;
    z-index: -1;
  }
}


// *****************************************
// ************** Player box ***************
// *****************************************

.player-box
{
  position: fixed;
  bottom: 0;
  left: 0;
  border: 1px solid black;
}


// *****************************************
// ***************** OTHER *****************
// *****************************************

.hidden
{
  display: none;
}
