/**
 *  @author: tomasgerzicak
 *  @name: _HD_screen
 *  @version: 1.0
*/

.page
{
  align-items: center;
  h1
  {
    font-size: 90px;
  }
}

.button
{
  width: 350px;
}

#user-info
{
  .user-info__right
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    p
    {
      min-width: 200px;
      text-align: right;
      padding-right: 30px;
    }
    img
    {
      object-fit: contain;
    }
  }
}

#main-menu
{
  .page__container
  {
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
  .options__container
  {
    padding-top: 20px;
  }
}

.loading-screen
{
  h1
  {
    font-size: 90px;
    margin-bottom: 30px;
  }
}

#choose-playlist
{
  .page__container
  {
    >div
    {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      justify-content: space-between;
    }
  }
  .playlist-box
  {

  }
}

#playing-song
{
  h1
  {
    font-size: 110px;
  }
  form
  {
    width: 400px;
    margin: auto;
  }
  .button
  {
    margin: 10px 0;
    width: 100%;
  }
}

#results
{
  .page__container
  {
    padding-bottom: 0;
  }
  .results__box
  {
    height: 450px;
  }
}