/**
 *  @author: tomasgerzicak
 *  @name: _mobile
 *  @version: 1.0
*/

.page__container
{
  padding-top: 30%!important;
  padding-bottom: 40px!important;
}

.button
{
  font-size: 15px;
}

#login-page
{
  h1
  {
    font-size: 9vw;
  }
  .button
  {
    margin-top: 40px;
  }
}

#main-menu
{
  .page__container
  {
    padding-bottom: 50px;
    .main-menu__options
    {
      padding-bottom: 30%;
    }
  }
}

#choose-playlist
{
  .playlist-box
  {
    margin-bottom: 70px;
  }
}

#end-game
{
  text-align: center;
  .page__container
  {
    h1
    {
      font-size: 12vw;
      padding-bottom: 10px;
    }
    .button
    {
      margin-top: 20px;
    }
    width: 100%;
  }
}

#playing-song
{
  .button
  {
    margin: 10px 0;
  }
}
