/**
 *  @author: tomasgerzicak
 *  @name: style.less
 *  @version: 1.0
*/


@import "_base.less";

@import "_mixins.less";

@import "_components";

@import "_grid.less";

*
{
  margin: 0;
  padding: 0;
}
body
{
  font-family: Helvetica;
}

@media screen and (max-width: 480px){
  @import "_mobile";

}
@media screen and (min-width: 1100px) {
  @import "_HD_screen";
}

